body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        font-size: 48px;
    }
}
.main__btn {
    text-decoration: none;
}
.btn {
    margin-top: 20px;
    font-size: 24px;
    width: 200px;
    color: white;
    background-color: dodgerblue;
    padding: 14px 0;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
    &:hover {
        color: dodgerblue;
        background-color: white;
    }
}